.introduction {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.names_blog {
  color: gray;
}

.about_me {
  display: flex;
  justify-content: space-around;
  color: gray;
  line-height: 17px;
  text-align: center;
  margin-top: 25px;
}

.break {
  text-align: center;
  font-weight: 500;
  margin-top: 30px;
  font-style: italic;
  font-size: 28px;
  color: #fff;
}

.break_time {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  padding: 12px;
  margin-top: 40px;
}

.break_btn {
  color: #fff;
  font-weight: bolder;
  background-color: burlywood;
  border-radius: 5px;
  padding-left: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}

.icon {
  margin-right: 3px;
}
.exercise_title {
  font-size: 25px;
  font-style: italic;
  text-align: center;
  color: #fff;
}

.exercise_time,
.time_break {
  margin-top: 40px;
  padding: 15px;
  border: 1px solid gray;
  width: 100%;
  border-radius: 8px;
  background-color: gray;
  padding-left: 30px;
}

.exercise_time_container {
  margin-right: 40px;
  padding-right: 10px;
}

.btn_activity {
  margin-top: 80px;
  width: 100%;
  background-color: burlywood;
  color: #fff;
  font-size: 20px;
  height: 60px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.check_icon {
  font-weight: bold;
  margin-left: 5px;
}

.my_pic {
  width: 90px;
  border-radius: 8px;
}

@media only screen and (max-width: 480px) {
  .introduction {
    flex-direction: column;
  }
  .my_pic {
    margin-right: 50px;
  }
  .about_me {
    font-size: 17px;
    flex-direction: column;
  }
  .break_time {
    margin-left: 90px;
    flex-direction: column;
  }
  .break_btn {
    width: 70%;
    margin-bottom: 20px;
    justify-content: center;
  }

  .exercise_time_container {
    margin-left: 10px;
  }
  .exercise_time,
  .time_break {
    width: 80%;
  }
  .btn_activity {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
    margin-left: 50px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about_me {
    flex-direction: column;
  }
  .break_time {
    flex-direction: column;
  }
  .break_btn {
    justify-content: center;
  }
}
