.parent_container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.cart_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.calculate_container {
  box-shadow: 1px -5px 28px black;
  border-radius: 8px;
  padding: 10px;
}

/* Media Queries */

/* small Devices */
@media only screen and (max-width: 480px) {
  .parent_container {
    grid-template-columns: 1fr;
  }
  .cart_container {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 150px;
    margin-right: 100px;
  }
}

/* Medium Devices */

@media only screen and(min-width: 481px) and (max-width: 768px) {
  .parent_container {
    grid-template-columns: 1fr;
  }
  .cart_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
